<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jan Eric Lenssen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Jan Eric Lenssen is a Postdoc at MPI-INF">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <table>
      <tbody>
        <tr>
          <td class="bio">
            <h1 class="name ">Jan Eric Lenssen</h1>
            <p>Postdoctoral Researcher at <a href="https://www.mpi-inf.mpg.de/departments/computer-vision-and-machine-learning/people/jan-eric-lenssen" >Max Planck Institute for Informatics</a>, Founding Engineer at <a href="https://kumo.ai/" >Kumo.ai</a><br/>
            <h3>Short Biography</h3>
            <ul>
                <li><a href="https://www.mpi-inf.mpg.de/departments/computer-vision-and-machine-learning/people/jan-eric-lenssen" >PostDoc at MPI-INF</a> under <a href="https://www.mpi-inf.mpg.de/departments/computer-vision-and-machine-learning/people/bernt-schiele" >Bernt Schiele</a>, collaborating with groups of <a href="#publications" >Gerard Pons-Moll</a> and <a href="#publications" >Eddy Ilg</a></li>
                <li>Founding member of <a href="https://kumo.ai/" >Kumo.ai</a> (Stanford / TU Dortmund startup), bringing GNNs into practice</li>
                <li>PhD (Dr.-Ing.) in Computer Science from <a href="https://www.tu-dortmund.de/en/" >TU Dortmund University</a> under <a href="https://graphics.cs.tu-dortmund.de/en/chair/team/prof-dr-heinrich-mueller" >Heinrich Müller</a></li>
                <li>Research internships at <a href="https://tech.fb.com/ar-vr/" >Facebook (Meta) Reality Labs</a> and <a href="https://nnaisense.com/" >Nnaisense</a></li>
            </ul>
             {{ metadata | safe }} 
             <a href="https://scholar.google.de/citations?hl=en&user=enXCzCgAAAA" >[Google Scholar]</a>
             <a href="https://www.linkedin.com/in/jan-eric-lenssen-08700b190/" >[LinkedIn]</a>              
             <a href="https://github.com/janericlenssen/" >[Github]</a>    
             <a href="mailto:janeric.lenssen@gmail.com" >[Email]</a>    </p>
          </td>
          <td class="photo">
            <img src="figures/photo.jpg" width="100%"> <br/>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 id="interests">Research Interests</h3>
    My interest lies in designing differentiable algorithms, architectures and representations for percieving and representing the 3D world. Past research includes works in the areas of graph neural networks, equivariant operators, implicit neural fields and differentiable eigendecomposition.
    Currently, I am interested in sparse correspondence representations between neural fields.
    <h2 id="publications">Selected Publications</h2>
    <ul class="publications">
      {% for pub in publications %}
        <li class="pub">
            <table>
              <tbody>
                <tr>
                  <td class="pub-teaser" width="23%">
                    <img src={{ pub.teaser }}  style="width: 90%;">
                  </td>
                  <td>
                    <span class="pub-title">{{ pub.title }}</span><br/>
                    {{ pub.conference }}<br/>
                    <span>{{ pub.authors | safe }}<br/>
                    <span class="pub-bold"> Short Abstract: </span>{{ pub.abstract | safe }}<br/>
                    {{ pub.data | safe }}<br/>
                  </td>
                </tr>
              </tbody>
            </table>
        </li>
      {% endfor %}
    </ul>
    <center> Template adapted from <a href="https://ayushtewari.com/">Ayush Tewari</a>. Thanks!
  </body>
</html>